In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/successful_educations.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: '/content/successful_educations.csv'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       108 non-null    object
 1   Profession                 108 non-null    object
 2   Degree                     106 non-null    object
 3   Field                      105 non-null    object
 4   Institution                106 non-null    object
 5   Graduation Year            99 non-null     float64
 6   Country                    108 non-null    object
 7   University Global Ranking  73 non-null     object
 8   GPA (or Equivalent)        93 non-null     object
 9   Scholarship/Award          80 non-null     object
dtypes: float64(1), object(9)
memory usage: 8.6+ KB

In [ ]:
# for count of "Null" values
df.isnull().sum()

Name                          0
Profession                    0
Degree                        2
Field                         3
Institution                   2
Graduation Year               9
Country                       0
University Global Ranking    35
GPA (or Equivalent)          15
Scholarship/Award            28
dtype: int64

In [ ]:
#How many different types of Degrees?
df["Degree"].unique()

array(['Bachelor of Science', 'Dropped Out', 'Master of Science',
       'Master of Business Administration', 'Honorary Doctorate',
       'Undergraduate Studies', 'Doctor of Philosophy', 'Juris Doctor',
       'Master of Arts', 'Bachelor of Arts', 'High School', 'PhD',
       'Bachelor', nan, 'Master', 'MBA', 'Master/MBA', 'MD', 'Dropout',
       'Engineering', 'No Degree'], dtype=object)

In [ ]:
df["Profession"].unique()

array(['Entrepreneur', 'Tech Executive', 'Business Leader',
       'Media Executive', 'Activist', 'Scientist', 'Politician',
       'Athlete', 'Author', 'Actor', 'Lawyer/Author', 'Physicist',
       'Tech CEO', 'Astrophysicist', 'Philanthropist',
       'Business Executive', 'Musician', 'Author/Philanthropist',
       'Nonprofit Executive', 'Education Executive', 'TV Host/Author',
       'Actor/Comedian', 'Journalist', 'Actor/Writer', 'Film Director',
       'TV Host/Designer', 'Comedian', 'Actor/Singer', 'Actor/Podcaster',
       'Actor/Scientist', 'Comedian/Actor', 'Investor', 'Business',
       'Finance', 'Fashion'], dtype=object)

In [ ]:
df["Field"].unique()

array(['Physics & Economics', 'computer science',
       'Material Sciences and Engineering', 'Business Administration',
       'Computer Science and Electrical Engineering', 'Management',
       'speech communications and performing arts', 'Computer Science',
       'Philosophy', 'computer science and psychology', 'Physics', 'Law',
       'Computer Engineering', 'Physical Chemistry', 'Sociology',
       'English Literature', 'General', 'French/Classics', 'Drama',
       'English', 'Astrophysics', 'Business', nan, 'Economics',
       'Liberal Arts', 'Electrical Engineering', 'Medicine',
       'Television & Radio', 'Engineering/Business', 'Theatre Arts',
       'Biology', 'Political Science', 'Playwriting',
       'Computer Science/Philosophy', 'English/African American Studies',
       'Fashion Management', 'Creative Writing', 'Music', 'Anthropology',
       'Neuroscience', 'Experimental Film', 'Psychology', 'Mathematics',
       'Engineering', 'Commerce', 'Software Engineering',
       'Animal Science', 'mechanical engineering', 'Pharmacy'],
      dtype=object)

In [ ]:
df["Country"].unique()

array(['USA', 'UK', 'France', 'Germany', 'Canada', 'China',
       'South Africa', 'India', 'Mexico', 'Australia', 'Switzerland',
       'Italy', 'Japan', 'Austria', 'Azerbaijan'], dtype=object)

In [ ]:
df["Country"].value_counts()

Country
USA             69
China           12
UK               5
France           4
Germany          4
India            3
Mexico           2
Japan            2
Canada           1
South Africa     1
Australia        1
Switzerland      1
Italy            1
Austria          1
Azerbaijan       1
Name: count, dtype: int64

In [ ]:
df_ger = df[df["Country"]=="Germany"]
df_ger

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
16,Angela Merkel,Politician,Doctor of Philosophy,Physical Chemistry,University of Leipzig,1986.0,Germany,231–240,NaN,DAAD Scholarship
35,Ursula von der Leyen,Politician,PhD,Medicine,Hannover Medical School,1991.0,Germany,122,Magna Cum Laude,Research Excellence Award
105,Stefan Quandt,Business,Bachelor,Engineering,Technical University of Darmstadt,1994.0,Germany,NaN,3.7,NaN
106,Susanne Klatten,Business,Bachelor,Economics,Technical University of Munich,1993.0,Germany,NaN,3.8,NaN

In [ ]:
df_ger[df_ger["Field"]=="Economics"]

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
106,Susanne Klatten,Business,Bachelor,Economics,Technical University of Munich,1993.0,Germany,NaN,3.8,NaN

In [ ]:
df_USA = df[df["Country"]=="USA"]
df_USA

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997.0,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975.0,USA,5,NaN,Dean’s List
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995.0,USA,3,3.8,Fellowship in Engineering
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995.0,USA,2,3.9,Hoover Fellowship
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986.0,USA,16,3.6,Marquis Scholar
...,...,...,...,...,...,...,...,...,...,...
87,Colin Huang,Entrepreneur,Master,Computer Science,University of Wisconsin,2004.0,USA,28,4.0,Research Fellowship
89,Wang Xing,Entrepreneur,Master,Computer Science,University of Delaware,2005.0,USA,137,3.9,Merit Scholarship
98,Alice Walton,Business,Bachelor,Economics,Trinity College,1971.0,USA,3,3.7,NaN
102,Ken Griffin,Finance,Bachelor,Economics,Harvard University,1989.0,USA,3,3.8,NaN
103,Eduardo Saverin,Entrepreneur,Bachelor,Economics,Harvard University,2006.0,USA,3,3.7,NaN

In [ ]:
df_USA[df_USA["Degree"]=="Dropped Out"]

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975.0,USA,5,NaN,Dean’s List
9,Mark Zuckerberg,Entrepreneur,Dropped Out,computer science and psychology,Harvard University,NaN,USA,5,NaN,NaN

In [ ]:
df[df['Degree']=="Dropped Out"]

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975.0,USA,5,NaN,Dean’s List
9,Mark Zuckerberg,Entrepreneur,Dropped Out,computer science and psychology,Harvard University,NaN,USA,5,NaN,NaN

In [ ]:
df["Degree"].replace(to_replace="Dropout", value="Dropped Out", inplace=True)

<ipython-input-31-dcb534a976fe>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Degree"].replace(to_replace="Dropout", value="Dropped Out", inplace=True)

In [ ]:
df["Degree"].unique()

array(['Bachelor of Science', 'Dropped Out', 'Master of Science',
       'Master of Business Administration', 'Honorary Doctorate',
       'Undergraduate Studies', 'Doctor of Philosophy', 'Juris Doctor',
       'Master of Arts', 'Bachelor of Arts', 'High School', 'PhD',
       'Bachelor', nan, 'Master', 'MBA', 'Master/MBA', 'MD',
       'Engineering', 'No Degree'], dtype=object)

In [ ]:
df[df["Graduation Year"]>2000]

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
8,Malala Yousafzai,Activist,Undergraduate Studies,Philosophy,University of Oxford,2021.0,UK,4,First Class Honours,Nobel Peace Prize
13,Serena Williams,Athlete,Bachelor of Science,Business Administration,University of California,2021.0,USA,40,3.6,Student-Athlete Academic Award
18,Emma Watson,Actor,Bachelor of Arts,English Literature,Brown University,2014.0,USA,14,3.5,Rhodes Scholar Finalist
37,Reshma Saujani,Nonprofit Executive,Juris Doctor,Law,Yale Law School,2002.0,USA,1,3.8,Paul & Daisy Soros Fellow
38,Sal Khan,Education Executive,Master/MBA,Engineering/Business,MIT/Harvard,2003.0,USA,1,4.0,Presidential Scholar
47,Mindy Kaling,Actor/Writer,Bachelor,Playwriting,Dartmouth College,2001.0,USA,12,3.7,Eleanor Frost Prize
48,Kumail Nanjiani,Actor/Comedian,Bachelor,Computer Science/Philosophy,Grinnell College,2001.0,USA,NaN,3.6,Comedy Award
51,Chimamanda Adichie,Author,Master,Creative Writing,Johns Hopkins University,2003.0,USA,10,3.9,MacArthur Fellowship
53,Reshma Shetty,Actor/Singer,Master,Music,University of Kentucky,2003.0,USA,NaN,3.8,Opera Excellence Award
55,Mayim Bialik,Actor/Scientist,PhD,Neuroscience,UCLA,2007.0,USA,15,4.0,Neuroscience Fellow
57,Natalie Portman,Actor,Bachelor,Psychology,Harvard University,2003.0,USA,3,3.9,Research Award
82,Zhang Yiming,Entrepreneur,Bachelor,Software Engineering,Nankai University,2005.0,China,NaN,3.9,Academic Excellence
87,Colin Huang,Entrepreneur,Master,Computer Science,University of Wisconsin,2004.0,USA,28,4.0,Research Fellowship
89,Wang Xing,Entrepreneur,Master,Computer Science,University of Delaware,2005.0,USA,137,3.9,Merit Scholarship
101,Mark Mateschitz,Business,Bachelor,Economics,Fachhochschule Salzburg,2018.0,Austria,NaN,3.8,NaN
103,Eduardo Saverin,Entrepreneur,Bachelor,Economics,Harvard University,2006.0,USA,3,3.7,NaN

What is the average graduation year of individuals in the dataset?

Which profession has the highest average GPA?

What is the most common field of study among the individuals?

How many individuals received a scholarship or award?

What is the distribution of individuals by country?

Which university appears most frequently in the dataset?

What is the average university global ranking for tech executives?

How many individuals graduated after the year 2000?

What is the most common degree among entrepreneurs?

Which institution has the highest average GPA?

What is the correlation between graduation year and GPA (if numeric)?

How many individuals have a Master’s degree or higher?

What is the average GPA by field of study?

Which profession has the most recipients of scholarships or awards?

What is the average global ranking of universities attended by individuals from the USA?

How many individuals did not complete a degree (e.g., Dropped Out)?

Which field has the most graduates?

What is the average graduation year for each profession?

How many individuals attended Ivy League schools?

Which university produced the most entrepreneurs in the dataset?

In [ ]:
#Which profession has the highest average GPA?

d

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/addiction_population_data.csv")
df

,id,name,age,gender,country,city,education_level,employment_status,annual_income_usd,marital_status,...,attempts_to_quit_smoking,attempts_to_quit_drinking,has_health_issues,mental_health_status,exercise_frequency,diet_quality,sleep_hours,bmi,social_support,therapy_history
0,1,Michael Bates,66,Other,Yemen,Martinmouth,Secondary,Student,45595,Married,...,6,2,True,Good,Daily,Average,5.6,22.4,NaN,Current
1,2,Brian Thompson,29,Male,Saudi Arabia,Harperhaven,Primary,Self-Employed,145842,Single,...,1,6,False,Poor,Weekly,Good,6.7,24.1,Moderate,NaN
2,3,Steven Little,75,Male,Togo,Chanport,Postgraduate,Unemployed,162480,Single,...,9,9,True,Good,Never,Good,6.2,22.2,Weak,NaN
3,4,Michael Mathews,35,Other,Togo,North Cory,University,Unemployed,16023,In a relationship,...,5,7,False,Average,Daily,Good,7.2,25.5,Moderate,Current
4,5,Nicholas Sanchez,38,Female,Morocco,Danielberg,College,Self-Employed,62933,In a relationship,...,4,7,True,Poor,Weekly,Good,8.5,31.2,Weak,Past
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,Mary Bartlett,29,Other,Macedonia,Port Kimberly,Postgraduate,Employed,118269,Single,...,9,1,True,Poor,Never,Average,6.6,27.4,Moderate,Current
2996,2997,Beth Sanchez,51,Male,Saudi Arabia,Smithbury,College,Employed,35898,Widowed,...,9,2,True,Poor,Rarely,Good,4.3,27.7,Moderate,Past
2997,2998,Megan Duffy,15,Male,Falkland Islands (Malvinas),Clinebury,College,Retired,167501,Widowed,...,1,8,True,Poor,Rarely,Poor,6.6,23.5,Moderate,Past
2998,2999,Jeffery Lawson,38,Male,Bermuda,Colleenport,Secondary,Retired,135893,Married,...,9,3,False,Poor,Rarely,Poor,4.9,27.2,NaN,Current
2999,3000,Kathryn Gray,41,Other,Jamaica,Turnertown,NaN,Employed,124049,Single,...,3,5,False,Good,Daily,Average,5.2,19.6,Moderate,Past

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3000 non-null   int64
 1   name                       3000 non-null   object
 2   age                        3000 non-null   int64
 3   gender                     3000 non-null   object
 4   country                    3000 non-null   object
 5   city                       3000 non-null   object
 6   education_level            2580 non-null   object
 7   employment_status          3000 non-null   object
 8   annual_income_usd          3000 non-null   int64
 9   marital_status             3000 non-null   object
 10  children_count             3000 non-null   int64
 11  smokes_per_day             3000 non-null   int64
 12  drinks_per_week            3000 non-null   int64
 13  age_started_smoking        3000 non-null   int64
 14  age_started_drinking       3000 non-null   int64
 15  attempts_to_quit_smoking   3000 non-null   int64
 16  attempts_to_quit_drinking  3000 non-null   int64
 17  has_health_issues          3000 non-null   bool
 18  mental_health_status       3000 non-null   object
 19  exercise_frequency         3000 non-null   object
 20  diet_quality               3000 non-null   object
 21  sleep_hours                3000 non-null   float64
 22  bmi                        3000 non-null   float64
 23  social_support             2247 non-null   object
 24  therapy_history            1986 non-null   object
dtypes: bool(1), float64(2), int64(10), object(12)
memory usage: 565.6+ KB

In [ ]:
df["gender"].value_counts()

gender
Other     1024
Female    1017
Male       959
Name: count, dtype: int64

In [ ]:
df.groupby("gender")["education_level"].value_counts()

gender  education_level
Female  High School        171
        Postgraduate       151
        University         149
        Primary            145
        Secondary          142
        College            138
Male    Postgraduate       150
        University         145
        College            133
        Primary            132
        Secondary          129
        High School        118
Other   University         170
        Postgraduate       146
        Secondary          144
        Primary            140
        High School        139
        College            138
Name: count, dtype: int64

In [ ]:
df.groupby("gender")["exercise_frequency"].value_counts()

gender  exercise_frequency
Female  Rarely                268
        Never                 265
        Daily                 246
        Weekly                238
Male    Never                 255
        Rarely                246
        Weekly                231
        Daily                 227
Other   Rarely                265
        Daily                 264
        Never                 254
        Weekly                241
Name: count, dtype: int64

In [ ]:
df.groupby("mental_health_status")["sleep_hours"].mean()

mental_health_status
Average    6.424582
Good       6.475549
Poor       6.512640
Name: sleep_hours, dtype: float64

In [ ]:
# name that start with "M"
df[df["name"].str.startswith("M")]

,id,name,age,gender,country,city,education_level,employment_status,annual_income_usd,marital_status,...,attempts_to_quit_smoking,attempts_to_quit_drinking,has_health_issues,mental_health_status,exercise_frequency,diet_quality,sleep_hours,bmi,social_support,therapy_history
0,1,Michael Bates,66,Other,Yemen,Martinmouth,Secondary,Student,45595,Married,...,6,2,True,Good,Daily,Average,5.6,22.4,NaN,Current
3,4,Michael Mathews,35,Other,Togo,North Cory,University,Unemployed,16023,In a relationship,...,5,7,False,Average,Daily,Good,7.2,25.5,Moderate,Current
8,9,Melanie Walker,16,Other,Burkina Faso,Brandystad,Postgraduate,Retired,85495,Divorced,...,6,5,False,Good,Weekly,Good,4.6,24.6,NaN,NaN
11,12,Michael Parker DDS,16,Other,Benin,North Tiffanyhaven,Secondary,Retired,123308,Divorced,...,6,2,False,Average,Weekly,Average,6.4,30.2,Weak,Past
46,47,Michael Powell,49,Female,Aruba,Timothymouth,Postgraduate,Retired,167089,Married,...,1,5,False,Poor,Rarely,Good,4.8,30.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,2980,Marie Pearson,40,Male,Kuwait,New Nichole,Secondary,Student,192650,Widowed,...,1,3,True,Poor,Weekly,Good,7.4,22.7,Moderate,NaN
2982,2983,Manuel Moore,61,Other,France,Reyesstad,Primary,Employed,27155,Single,...,9,9,True,Poor,Weekly,Good,6.4,26.0,NaN,Current
2991,2992,Michael Christian,55,Male,Afghanistan,Petersport,Postgraduate,Unemployed,83623,Married,...,4,5,True,Poor,Weekly,Good,5.6,26.9,Weak,Past
2995,2996,Mary Bartlett,29,Other,Macedonia,Port Kimberly,Postgraduate,Employed,118269,Single,...,9,1,True,Poor,Never,Average,6.6,27.4,Moderate,Current
2997,2998,Megan Duffy,15,Male,Falkland Islands (Malvinas),Clinebury,College,Retired,167501,Widowed,...,1,8,True,Poor,Rarely,Poor,6.6,23.5,Moderate,Past

In [ ]:
df["country"].value_counts().idxmax()

'Korea'

In [ ]:
df["country"].value_counts().idxmin()

'Norfolk Island'

In [ ]:
df=pd.read_csv("/content/vg_data_dictionary.csv")
df

           Field                                     Description
0            img        URL slug for the box art at vgchartz.com
1          title                                      Game title
2        console               Console the game was released for
3          genre                               Genre of the game
4      publisher                           Publisher of the game
5      developer                           Developer of the game
6   critic_score                    Metacritic score (out of 10)
7    total_sales              Global sales of copies in millions
8       na_sales      North American sales of copies in millions
9       jp_sales            Japanese sales of copies in millions
10     pal_sales  European & African sales of copies in millions
11   other_sales       Rest of world sales of copies in millions
12  release_date                   Date the game was released on
13   last_update                  Date the data was last updated

In [ ]:
pf =pd.read_csv("/content/vgchartz-2024.csv")
pf

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64011,/games/boxart/full_2779838AmericaFrontccc.jpg,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,Arc System Works,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-11,2019-01-28
64012,/games/boxart/full_8031506AmericaFrontccc.jpg,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64013,/games/boxart/full_6553045AmericaFrontccc.jpg,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30,2020-05-09
64014,/games/boxart/full_6012940JapanFrontccc.png,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,Otomate,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-28,2019-02-24
64015,/games/boxart/default.jpg,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,G.rev Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-09-29

In [ ]:
pf["console"].value_counts()

console
PC      12617
PS2      3565
DS       3288
PS4      2878
PS       2707
        ...
CD32        3
C128        1
FDS         1
Aco         1
BBCM        1
Name: count, Length: 81, dtype: int64

In [ ]:
pf.head(1)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN

In [ ]:
# games release_date in month "08"

ValueError: Cannot mask with non-boolean array containing NA / NaN values